{% extends 'base.html' %}
{% load static %}

{% block pgtitle %}
<title>Adoptions</title>
{% endblock pgtitle %}

{% block pgcss %}

<link rel="stylesheet" href="{% static 'adoptions.css' %}">
{% endblock pgcss %}

{% block content %}

{% for adoption in adoptions  %}
<div class="container adoption-block">
<h3 class="text-center">{{adoption.title}}</h3>
{% if adoption.img %}
    <div class="row justify-content-center">
        <img src="{{ adoption.img.url }}" alt="adoption img"/>
    </div>
{% endif %}
<p>Pet's Name: {{ adoption.name }}</p>
<p>Breed's Name: {{ adoption.breedName }}</p>
<p>Health Status: {{ adoption.health }}</p>
<p>Pet's Gender: {{ adoption.gender }}</p>
<p>Pet's Age: {{ adoption.ageYears }}</p>
<p>Pet's Location: {{ adoption.location }}</p>
<p>Pet's Address: {{ adoption.addr }}</p>
<p>Contact : {{ adoption.phone }}</p>
<p>Available for adoption: {{ adoption.upForAdoption }}</p>
<p>Pet's Details: {{ adoption.details|linebreaks }}</p>
<p>By : {{ adoption.owner.first_name }} {{ adoption.owner.last_name }}</p>
<p>User: {{ adoption.owner.username }}</p>
<p>Posted on: {{ adoption.day }}</p>
</div>
{% endfor %}

{% endblock content %}