{% extends 'base.html' %}
{% load static %}

{% block pgtitle %}
<title>Adoptions</title>
{% endblock pgtitle %}

{% block pgcss %}

<link rel="stylesheet" href="{% static 'adoptions.css' %}">
{% endblock pgcss %}

{% block content %}

{% for adoption in adoptions  %}
<div class="container adoption-block">
<h3 class="text-center">{{adoption.title}}</h3>
{% if adoption.img %}
    <div class="row justify-content-center">
        <img src="{{ adoption.img.url }}" alt="adoption img"/>
    </div>
{% endif %}
<p>{{ adoption.name }}</p>
<p>{{ adoption.breedName }}</p>
<p>{{ adoption.health }}</p>
<p>{{ adoption.gender }}</p>
<p>{{ adoption.ageYears }}</p>
<p>{{ adoption.location }}</p>
<p>{{ adoption.addr }}</p>
<p>{{ adoption.phone }}</p>
<p>{{ adoption.upForAdoption }}</p>
<p>{{ adoption.details|linebreaks }}</p>
<p>By : {{ adoption.owner.first_name }} {{ adoption.owner.last_name }}</p>
<p>User: {{ adoption.owner.username }}</p>
<p>{{ adoption.day }}</p>
</div>
{% endfor %}

{% endblock content %}