{% extends 'base.html' %}
{% load static %}

{% block pgtitle %}
<title>Posts</title>
{% endblock pgtitle %}

{% block pgcss %}

<link rel="stylesheet" href="{% static 'CSS/posts.css' %}">
{% endblock pgcss %}

{% block content %}

{% for blog in blogs  %}
<div class="container blog-block">
    <div class="col-sm">
        <h3 class="text-center">{{blog.title}}</h3>
        <div class="d-flex flex-row flex-wrap">
            {% if blog.img %}
                <div class="col-sm blogImg text-center">
                    <img src="{{ blog.img.url }}" alt="blog img"/>
                </div>
            {% endif %}
            <div class="col-sm">
                <p>{{ blog.body|linebreaks }}</p>
                <p>By : {{ blog.owner.first_name }} {{ blog.owner.last_name }}</p>
                <p>UserName: {{ blog.owner.username }}</p>
                <p>{{ blog.day }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}

{% comment %} <script>$('#myModal').modal(options)</script> {% endcomment %}