.homeContent{
    padding-top: 30%;
    /* padding-left: 20%; */
}

.homeContent>h1{
    text-align: center;
    font-size:calc(40px + 1vmin);

}

.homeContent>h3{
    text-align: center;
    width: 60%;
    font-size: 35px;

}

.identifBttn{
    padding-top: 5px;
    background-color: #FFC83B;
    width: 400px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
}

.identifBttn>p{
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.dogbg{
    float: right;
}

.mobiledogbg{
    display: none;
}

.mobileContent{
    display: none;
}

.abtimg{
    padding-left: 10%;
}


.abtContent{
    padding-left: 10%;
    padding-right: 10%;
}

.abtContent>h3{
    font-size: 40px;
}

.abtContent>p{
    font-size: 30px;
}

.feature>p{
    font-size: 20px;
}



/*mobiles*/

@media all and (max-width:600px){
    .identifBttn{
        width: 300px;
    }
    .dogbg{
        display: none;
    }
    .pcContent{
        display: none;
    }
    .mobileContent{
        display: contents;
    }
    .mobiledogbg{
        display: contents;
    }

    .homeContent>h1{
        display: none;
    
    }
    
    .homeContent>h3{
        text-align: center;
        width: 60%;
        font-size: 35px;
    
    }

    .mobiledogbg>h1{
        margin-top: 20px;
        text-align: center;
    }

    .mobiledogbg>img{
        margin-bottom: -200px;
    }


    .abtimg{
        padding: 10% ;
    }
}

/*tabs*/
@media all and (max-width:1024px){
    .icn>img{
        height: 15vh !important;
        max-width: 100% !important;
    }
}